body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.h1Title{
  height: 70px;
  margin: 0;
}

.pSubtitle{
  height: 30px;
}

button#addComment{
  height: 70px;
  width: 150px;
}

.titleBox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 140px;
}

a {
  color: #00B7FF;
  margin-right: 66px;
}

.editBtn{
  height:50px; 
  width: 150px;
}

.submitBtn{
  height:50px;
  width: 150px;
}

.deleteBtn{
  height:50px;
  width: 150px;
}

.behind{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line-card{
  display: flex;
  justify-content: space-between;
  max-width: 70rem;
  margin: auto;
  margin-bottom: 5rem;
  border-radius: 0.8rem;
  padding: 3rem 4rem 2rem;
  background: white;
  box-shadow: 0 3px 7px #00577759;
}

.box{
  display: flex;
  flex-flow: column;
}


/* ul li {
  margin-bottom: 20px;
  box-shadow: 0 3px 7px #00577759;
  padding: 10px;
  border-radius: 5px;
  width: 320px;
  transition: 0.2s ease;
  position: relative;
  left: 0;
  font-size: 1em;
} */
/* .message-card footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
} */
